---
name: Go Build
on:
  workflow_dispatch:
  push:
  pull_request:
jobs:
  build-supported-platforms:
    name: Go Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
          - goos: linux
            goarch: arm
          - goos: darwin
            goarch: amd64
          - goos: windows
            goarch: amd64
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ~1.21
      - name: Build for ${{ matrix.goos }}/${{ matrix.goarch }}
        run: |
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o bin/cli
  build-supported-go-version:
    name: Go Build Versions
    needs: build-supported-platforms
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        go-versions: ['~1.21']
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-versions }}
      - name: Build for ${{ matrix.go-versions }}
        run: |
          go build -o bin/cli
