---
name: Go unit tests
on:
  workflow_dispatch:
  push:
  pull_request:
env:
  GO_VERSION: '~1.21'
jobs:
  golangci:
    name: Go Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Test
        run: make go-test
