---
name: Go linter
on:
  workflow_dispatch:
  push:
  pull_request:
permissions:
  contents: read
  pull-requests: read
jobs:
  golangci:
    name: Golangci-lint
    runs-on: ubuntu-latest
    env:
      GO_VERSION: '~1.21'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54
          args: --config .golangci.yaml
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-check
